* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #b591ec;
}
.head {
  max-width: 380px;
  border: 4px solid #845ec2;
  border-radius: 10px;
  margin: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  color: #512b8e;
}

.score {
  margin-top: 10px;
  font-size: 25px;
}
.container {
  max-width: 960px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 1rem;
  margin: auto;
  padding: 20px;
}

.cell div {
  height: 130px;
  border-radius: 5px;
}
.cell {
  position: relative;
  cursor: pointer;
}
.front {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  background-color: #fae3e8;
  transform: rotateY(90deg);
}

.back {
  background-color: #845ec2;
}

img {
  height: 100px;
  width: 100px;
}

.flip {
  transform: rotateY(0deg);
}
.match {
  transform: rotateY(0deg);
}

.show {
  transform: rotateY(0deg);
}

@media screen and (min-width: 770px) {
  .head {
    max-width: 760px;
  }

  .container {
    grid-template-columns: repeat(4, auto);
  }

  .cell div {
    height: 170px;
  }
}

.button {
  position: absolute;
  color: #dfd1f7;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #bb99f1;
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
