* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-content {
  display: flex;
  flex-direction: column;
}

.nes-container {
  width: 40%;
  align-items: center;
  position: absolute;
  top: auto;
  left: 50%;
  transform: translate(-50%);
}

.header {
  text-align: center;
  margin: 2rem;
}

.remove-button {
  padding: 5px;
  margin-left: 10rem;
}
.add-button {
  margin-top: 2rem;
  padding: 5px;
}

.wishlist {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 150px;
  width: 30%;
}

li {
  margin-top: 1rem;
}

.container-images {
  display: flex;
  position: fixed;
  top: 100%;
  transform: translate(0, -100%);
  justify-content: space-around;
  width: 100%;
  background-color: white;
}

img {
  height: 100px;
}
