* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gameCanvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.score {
  font-size: 8rem;
  text-align: center;
}
