* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
}

.gameCanvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60%;
}
.score {
  font-size: 4rem;
  text-align: center;
}

.start-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  height: 80px;
  width: 160px;
  background-color: lightblue;
  font-size: 1rem;
}

.hidden {
  display: none;
  visibility: hidden;
}

.refresh-button {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%);
  width: 80px;
  height: 40px;
  background-color: lightblue;
  font-size: 0.5rem;
}

.timer {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.nes-balloon {
  position: absolute;
  top: 500px;
  width: 20%;
  font-size: 0.5rem;
  height: 10%;
}

.game-over-banner {
  display: flex;
  position: absolute;
  width: 30%;
  height: 30%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 3px black;
  z-index: 3;
  background-color: red;
}
.game-over-text {
  margin: auto;
}

.background {
  background-image: url("../snakeGame/background.jpeg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
