* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gameCanvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.score {
  font-size: 8rem;
  text-align: center;
}

.start-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  height: 80px;
  width: 160px;
  background-color: lightblue;
  font-size: 1.5rem;
}

.hidden {
  display: none;
}

.refresh-button {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%);
  width: 80px;
  height: 40px;
  background-color: lightblue;
}

.timer {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
